

/*Reset CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*UTILITY*/
body{
    font-family: "Nunito Sans", sans-serif;
    line-height: 35px;
    letter-spacing: 1px;

}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.btn { 
    background-color: white;    
    border-radius: 30px;
    color: black;
    padding: 8px 15px ;
}


/*Color palette*/
.bg-darkgray{
    background-color: #23272a;
}

.bg-deepblue{
    background-color: #255ee9;
}

.bg-blueviolet{
    background-color: #7289da;
}

.bg-gray{
    background-color: #f6f6f6;
}

.bg-blueblack{
    background-color: #23272a;
}

/*Header*/

header{
    color:white;    
}

.navbar-container{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
  }

  
  .navbar-link ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 10px;
    font-size: 14px;
}

.navbar-logo{
    flex-grow: 1;
}

.navbar-login{
    flex-grow: 1;
    text-align: end;
    font-size: 14px;
  }


  /*HERO*/

.hero-container{
    background-image: url(/imgs/jumbo.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero{
    width: 60%;
    height: 70%;
    margin: 150px;
    
}

.hero h1 {
    letter-spacing: 3px;
    font-stretch: condensed;
    font-size: 50px;
    font-weight: 800;
}

.hero p{
    margin: 30px 100px;

}

.hero-btn .btn {
padding: 15px;
margin: 0 15px;
}

.btn-action{
    color: white;
}

.block .bg-waves{
    width: 100%;
    
}


/*
.bg-waves{
    background-image: url(/imgs/wave.svg);

}*/

 /* MAIN CONTAINERS*/

.block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 , .container2{
    color: #23272a;
    display: flex;
    margin: 150px 0;
}

.container2 {
    padding: 0 50px;
}


.discord-image{
    height: 100%;
    flex-grow: 1;
}

.discord-description{
    height: 100%;
    flex-basis: 400px;
}

main h1{
    font-weight: 800;
    line-height: 50px;
}

main p{
    margin-top: 20px;
}


/*LAST CONTAINER*/

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 150px 0;
}


.container3 p{
    padding: 0 100px;
}
.bigger-img{
    width: 100%;
    flex-grow: 1;
}

.start-download{
    background-image: url(/imgs/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 30px;
}


.container3 h2{
    font-weight: 800;
}
.container3 a {
    color: white;
}



/*Footer*/

footer {
    padding: 50px;
    color: white;
}



.footer-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}



.footer-main-section{
    flex-basis: 25%;
}


.ita{
    padding: 20px 0;
    display: flex;
    gap: 20px;
    font-size: 14px;
}


.ita img{
    width: auto;
    height: 20px;
}

.footer-main-section h2{
    color: #7289da;
    font-weight: 800;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 50%;
}





.footer-links{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}


.box-links{
    display: flex;
    gap: 150px;
}

.box-links ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


footer li:first-child a{
    color: #7289da;
    font-weight: 800;
}

.divisor{
    border: #7289da 1px solid;
    width: 95%;
    margin: 30px auto; 

}

a







/*footer bar*/

.footer-navbar{
    width: 80%;
    margin: 0 auto;
}


.footer-navbar-btn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
    }

    .footer-navbar-btn a{
        color: white;
    }
