

/*Reset CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*UTILITY*/
body{
    font-family: "Nunito Sans", sans-serif;
    line-height: px;
    letter-spacing: 1px;
}

li{
    list-style: none;
}

.bg-darkgray{
    background-color: rgb(35, 39, 42);
}

.bg-acquamarine{
    background-color: aquamarine;
}


.bg-deepblue{
    background-color: #255ee9;
}

.bg-pinkviolet{
    background-color: palevioletred;
}

.bg-gray{
    background-color: #f6f6f6;
}


.bg-green {
    background-color: green;
}


a {
    text-decoration: none;
    color: white;
}

.btn { 
    background-color: white;    
    border-radius: 30px;
    color: black;
    padding: 8px 15px ;
}


/*Header*/

header{
    color:white;
}

.navbar-container{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
  }

  
  .navbar-link ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 10px;
    font-size: 14px;
}

.navbar-logo{
    flex-grow: 1;
}

.navbar-login{
    flex-grow: 1;
    text-align: end;
    font-size: 14px;
  }


  /*HERO*/

.hero-container{
    background-image: url(/imgs/jumbo.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero{
    width: 60%;
    height: 70%;
    margin: 150px;
    
}

.hero h1 {
    letter-spacing: 3px;
    font-stretch: condensed;
    font-size: 50px;
    font-weight: 800;
}

.hero p{
    margin: 30px 100px;

}

.hero-btn .btn {
padding: 15px;
margin: 0 15px;
}

.btn-action{
    background-color: black;
    color: white;
}

.block .bg-waves{
    width: 100%;
    
}


/*
.bg-waves{
    background-image: url(/imgs/wave.svg);

}*/

 /* MAIN CONTAINERS*/

.block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 , .container2{
    height: 90%;
    width: 80%;
    display: flex;
    margin: 150px 0;
}

.container2 {
    padding: 0 50px;
}


.discord-image{
    height: 100%;
    flex-grow: 1;
}

.discord-description{
    height: 100%;
    flex-basis: 400px;
}

main h1{
    font-weight: 800;
}

main p{
    margin-top: 20px;
}


/*LAST CONTAINER*/

.container3 {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
}

.bigger-img{
    flex-grow: 1;
}

.start-download{
    background-image: url(/imgs/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px 30px;
}

 .start-download .btn{
    background-color: rgb(114, 137, 218);
    color: white;
 }

/*Footer*/

footer{
    height: 500px;
}

.footer-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}


.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-basis: 1200px;
}

.footer-main-section{
    height: 100%;
    flex-basis: 400px;
}

.footer-links{
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.box{
    flex-basis: 25%;
}

.footer-navbar{
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}


.footer-navbar-btn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    }

